body { 
font-family: Arial, sans-serif; 
background-color: #c6c6c6}
.container{ 
max-width: 600px;
margin: auto; 
padding: 20px;
 }
input, button{ 
width: 100%;
padding: 10px; 
margin: 10px 0;
}
#download{ 
display: none;
}

.status{
    color: green;
}